.footerHome {
  &__bar {
    display: flex;
    @include breakpoints(sm) {
      margin: 0 -60px 18px;
    }
    @include breakpoints(lg) {
      margin: 0 0 18px 26px;
    }
  }
  &__icon {
    display: inline-flex;
    @include breakpoints(lg) {
      margin: auto;
    }
    @include breakpoints(lg) {
      margin: 0 0 0 32px;
    }
  }
}
