.headerHome {
  display: flex;
  height: 80px;
  background-color: $secondaryColor;
  cursor: pointer;
  @include breakpoints(sm) {
    height: 150px;
  }
  @include breakpoints(lg) {
    height: 80px;
  }
  &__title {
    text-align: center;
  }
}
