@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;1,500;1,600&display=swap');

$fontFamily: 'Poppins', sans-serif;

$primaryColor: #7562e0;
$secondaryColor: #181824;
$tertiaryColor: #1a1a29;
$quaternaryColor: #ffffff;
$quintonaryColor: #f5f5f5;
$sextonaryColor: #bdbdbd;
$septonaryColor: #31313f;

$primaryFonSize: 16px;
$secondaryFonSize: 18px;
$tertiaryFonSize: 24px;
$quaternaryFonSize: 28px;
$quintonaryFonSize: 32px;
$sextonaryFonSize: 52px;
$septonaryFonSize: 96px;

$primaryBorderRadius: 8px;
$secondaryBorderRadius: 16px;

@mixin breakpoints($point) {
  @if $point == sm {
    @media (min-width: 375px) {
      @content;
    }
  }
  @if $point == md {
    @media (min-width: 425px) {
      @content;
    }
  }
  @if $point == lg {
    @media (min-width: 768px) {
      @content;
    }
  }
  @if $point == xl {
    @media (min-width: 1024px) {
      @content;
    }
  }
  @if $point == xxl {
    @media (min-width: 1440px) {
      @content;
    }
  }
}
