.home {
  &__header {
    background-color: $secondaryColor;
  }
  &__presentation {
    margin-top: 80px;
  }
  &__aboutMe {
    margin: 30px 130px 30px 110px;
  }
  &__projects {
    margin: 30px 130px 30px 110px;
  }
  &__contact {
    margin: 30px 130px 30px 110px;
  }
  &__footer {
    margin: 30px 130px 30px 110px;
  }
}
