@mixin itemDevelopmentAreasHomeMixin($isActive, $fontSize) {
  font-size: $fontSize;
  background-color: $septonaryColor;
  margin-right: 18px;
  @if $isActive {
    color: $primaryColor;
  } @else {
    color: $sextonaryColor;
  }
}

div::-webkit-scrollbar {
  width: 15px;
  height: 8px;
}
div::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background-color: $quaternaryColor;
}

.currentProject {
  @include itemDevelopmentAreasHomeMixin(true, $tertiaryFonSize);
}
