@mixin itemHeaderHomeMixin($isActive, $fontSize) {
  font-size: $fontSize;
  text-decoration: none;
  margin: auto 24px;
  @if $isActive {
    color: $primaryColor;
  } @else {
    color: $quaternaryColor;
  }
}

.itemHeaderHome {
  @include itemHeaderHomeMixin(true, $secondaryFonSize);
}

.itemHeaderNoActiveHome {
  @include itemHeaderHomeMixin(false, $secondaryFonSize);
}

.itemHeaderMainHome {
  @include itemHeaderHomeMixin(true, $quaternaryFonSize);
}
