.itemFooterHome {
  color: $quaternaryColor;
  @include breakpoints(sm) {
    margin: 0 20px 0 0;
    font-size: 10px;
  }
  @include breakpoints(lg) {
    margin: 0 40px 0 0;
    font-size: $secondaryFonSize;
  }
}
