@mixin buttonCommonMixin($isActive) {
  font-size: $primaryFonSize;
  color: $quaternaryColor;
  border-radius: $primaryBorderRadius;
  padding: 12px 26px;
  border: solid $primaryColor 2px;
  cursor: pointer;
  @if $isActive {
    background-color: $primaryColor;
  } @else {
    background-color: transparent;
  }
}
.buttonCommon {
  @include buttonCommonMixin(true);
}

.buttonNoActiveCommon {
  @include buttonCommonMixin(false);
}
