.shortText {
  font-size: $primaryFonSize;
  color: $quintonaryColor;
  border-radius: $primaryBorderRadius;
  margin-bottom: 16px;
  padding-left: 16px;
  background-color: $septonaryColor;
  height: 62px;
  @include breakpoints(sm) {
    width: 200px;
  }
  @include breakpoints(lg) {
    width: 472px;
  }
}

.message {
  font-size: $primaryFonSize;
  color: $quintonaryColor;
  border-radius: $primaryBorderRadius;
  margin-bottom: 16px;
  padding-left: 16px;
  background-color: $septonaryColor;
  height: 98px;
  @include breakpoints(sm) {
    width: 200px;
  }
  @include breakpoints(lg) {
    width: 472px;
  }
}
